/*Selectores*/
/*Selectores universales*/
/*Etiquetas pese de -1
clases y pseuclases ->10
id ->100
estilos de linea ->1000
!important -> les gana a todos */

*{
    color: blue;
}
h1{
    color: darkgreen;
}
p{
    color: aqua;
}

/*Selectores por clase (Recomendable)*/
.titulo{
    color: fuchsia;
}
.parrafo{
    color: navy;
}
/*Selectores por id*/
#titulo{
    color: red;
}
#parrafo{
    color: yellow;
}
/*Selectores de atributos*/
[href]{
    color: purple;
}
/*Selectores de href ="#"*/
[href="#"]{
    color: red;
}
/*Selectores de atributos por clases*/
[class~="rojo"]{
    color: saddlebrown;
}
/*Selectores de atributos de una sola clase */
[class |="verde"]{
    color: green;
}
/*Selectores de atributos los que empieza por una clase*/
[class ^="rojo"]{
    color: peru;
}
/*Selectores de atributos que terminen por una clase*/
[class $="verde"]{
    color: saddlebrown;
}
/*Selectores de atributos que contengan por una sola clase*/
[class*="verde"]{
    color: aqua;
}
/*Selectores combinados*/
/*Toma al hermano adyacente del hermano que esta por debajo*/
h1+h2{
    color: black;
}
/*Asi no tiene ningun efecto*/
h2+h2{
    color: blue;
}
/*Selector hermano general*/
h1~h3{
    color: darkorchid;
}
/*Selector hijo*/
p span{
    color: coral;
}
p span{
    color: black !important;
}