/*Margin y padding*/
.box-1{
    width: 200px;
    height: 200px;
    background: purple;
    /*Formula resumida*/
    /*margin: 2em 2em 3em 4em;*/
    /*Formula especifica*/
    margin-top: 2em;
    margin-right: 2em;
    margin-bottom: 3em;
    margin-left: 4em;
}
.box-2{
    width: 200px;
    height: 200px;
    background: pink;
    border: 2px solid black;
    /*Formula resumida*/
    padding: 1em 2em 3em 4em;
    /*Formula especifica*/
    /*padding: 2em;
    padding: 2em;
    padding: 3em;
    padding: 4em;*/

}
.box-2-contenido{
    width: 50px;
    height: 50px;
    background: purple;
}